@font-face {
    font-family: 'Impact', sans-serif;
    src: url(../fonts/impact.woff2);
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    color: #040404;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}

.big-container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header{
    padding-top: 25px;
    position: absolute;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);
}

.nav{
    display: flex;
    justify-content: space-between;
}

.menu-list{
    display: flex;
    padding-top: 25px;
    gap: 0 40px;
}

.menu-left{
    padding-left: 25px;
}

.menu-right{
    padding-right: 78px;
}

.menu-link{
    color: #363636;
    font-size: 16px;
}

.promo {
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 100px;
}

.promo__inner {  
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 76px;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.subtitle {
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 48px;
    border-bottom: 1px solid #040404;
    margin-bottom: 10px;
    align-self: center;
}

.subtitle span{
    display: block;
    font-size: 34px;
    line-height: 34px;
    color: #9F6B08;
    padding: 10px 0;
}

.promo__text {
    font-size: 16px;
    color: #363636;
    margin-bottom: 10px;
}

.promo__arrow{
    margin-top: auto;
    margin-bottom: 30px;
    align-self: center;
}

.container{
    max-width: 920px;
    padding: 0 10px;
    margin: 0 auto;
}

.info {
    margin-bottom: 100px;
}

.info__part {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.info__part--first {
    display: block;
}

.info__part--second .info__text{
    max-width: 352px;
}

.info__part--third {
    padding-top: 66px;
}

.info__part--third .info__text{
    max-width: 377px;
}

.info__title {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 32px;
}

.info__part-textbox {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
}

.info__text {
    flex-basis: 440px;
    margin-bottom: 30px;
}


.info__part-img {
    object-fit: cover;
}

.info__content {
    flex-basis: 415px;
}

.info__table {
    flex-basis: 450px;
    border-bottom: 1px solid #040404;
    position: relative;
    top: 20px;
}

.info__table::before{
    content: '';
    border-top: 2px solid #040404;
    position: absolute;
    width: 100%;
    top: -20px;
}

.info__table td{
    padding-bottom: 20px;
}

.track{
    background-image: url('../img/track-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.track__inner{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.track__title{
    font-weight: 300;
    font-size: 32px;
    padding-bottom: 30px;
    padding-top: 47px;
    text-transform: uppercase;
    color: #040404;
}

.track__text{
    max-width: 435px;  
}

.track__img{
    margin: auto auto 90px auto;
}

.evo {
    font-size: 14px;
    margin-bottom: 100px;
}

.evo-black {
    background-color: #363636;
    padding: 100px 0 50px;
    color: #FFFFFF
}

.evo-black__inner {
    position: relative;
}

.evo-black__inner::before{
    content: '';
    background-image: url(../img/dec-1.svg);
    position: absolute;
    width: 185px;
    height: 213px;
    top: 225px;
    left: -135px;
}

.evo-black__inner::after{
    content: '';
    background-image: url(../img/dec-2.svg);
    position: absolute;
    width: 498px;
    height: 572px;
    top: 302px;
    left: -37px;
}

.evo-black__info {
    display: flex;
    justify-content: space-between;
}

.evo-black__title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 32px;
    padding-right: 50px;
}

.evo-black__infobox {
    flex-basis: 437px;
}

.evo-black__text {
    font-size: 14px;
    margin-bottom: 30px;
}

.evo-black__img {
    display: block;
    margin: 170px auto 60px;
    position: relative;
    z-index: 1;
}

.evo__descr-list {
    display: flex;
    justify-content: space-between;
    gap: 0 65px;
    position: relative;
    z-index: 1;
}

.evo__descr-list dd{
    text-transform: uppercase;
}

.evo-white__inner {
    padding-top: 125px;
    position: relative;
}

.evo-white__inner::before{
    content: '';
    background-image: url(../img/dec-3.png);
    position: absolute;
    width: 274px;
    height: 257px;
    top: -20px;
    left: 365px;
}

.evo-white__inner::after{
    content: '';
    background-image: url(../img/dec-4.png);
    position: absolute;
    width: 324px;
    height: 311px;
    top: 115px;
    left: 600px;
}

.evo-white__text {
    margin-bottom: 30px;
}

.evo-white__text:first-child {
    max-width: 285px;
}

.evo-white__text:nth-child(2) {
    max-width: 437px;
}

.evo-white__text:nth-child(3) {
    max-width: 590px;
}

.evo-white__video {
    margin-top: 100px;
    background-image: url(../img/evo-video.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 264px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.evo-white__video-link span {
    display: block;
    color: #FFFFFF;
}

.blog {
    margin-bottom: 100px;
}
.blog__title {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 32px;
    text-transform: uppercase;
}
.blog__item-img {
    margin-bottom: 20px;
}
.blog__item-title {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    min-height: 46px;
}
.blog__item-text {
    margin-bottom: 10px;
}
.blog__item-link {
    font-size: 12px;
    color: #363636;
}
.blog__slider {
    position: relative;
    padding-top: 50px;
    margin-bottom: 100px;
}
.blog__button{
    position: absolute;
    top: 0;
    cursor: pointer;
    left: 50%;
}
.swiper-button-left {
    transform: translateX(-41px);
}
.swiper-button-right {
    transform: translateX(8px);
}
.blog__quote {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
}
.blog__quote-box {
    flex-basis: 434px;
}
.blockquote {
    margin-bottom: 30px;
}
.blockquote__name span{
    display: block;
    margin-bottom: 3px;
    font-size: 12px;
    color: #9F6B08;
}
.blockquote__name {
    font-weight: 700;
}
.blockquote__text {
    font-style: italic;
    padding-top: 10px;
}
.footer {
    padding: 100px 0 80px;
    background-color: #363636;
    color: #fff;
}
.footer__title {
    text-transform: uppercase;
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 32px;
}
.footer__top {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;

}
.footer__info {
}
.footer__info-item{
    margin-bottom: 50px;
}
.footer__info-item dt,
.footer__address-title{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}
.footer__info-item dd{
    margin-bottom: 10px;
}
.socials__list {
    display: flex;
    gap: 0 20px;
    align-items: center;
}
.socials__list-item {
}
.socials__list-link {
}
.socials__list-icon {
}
.footer__address {
    flex-basis: 462px;
}

#map{
    height: 250px;
}
.footer__address-text {
    font-size: 16px;
    margin-bottom: 20px;
}
.footer__bottom {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__bottom-link {
}
.footer__logo {
}
.footer__logo-img {
}